<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.agentpulse.agent</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/agentpulse</string>
		<string>run</string>
		<string>/usr/local/etc/agentpulse/config.json</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/usr/local/var/log/agentpulse/agentpulse.log</string>
	<key>StandardErrorPath</key>
	<string>/usr/local/var/log/agentpulse/agentpulse.log</string>
	<key>ProcessType</key>
	<string>Background</string>
</dict>
</plist>
